.userRecipeBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  margin-top: 12rem;
  display: flex;
  justify-content: center;
}

.userRecipeCard {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 2.2rem;
  margin-bottom: 2.2rem;
  padding: 1rem;
  border-radius: 1rem;
  width: 30%;
  background-color: var(--color-detail);
}

.userRecipeCard a {
  color: var(--color-principal-2);
  font-weight: 700;
}
