.loginBody {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.background {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 59.7%;
  z-index: -1;
}

.title {
  display: flex;
  margin-top: 12rem;
  justify-content: center;
}

.formContainer {
  display: flex;
  background-color: var(--color-principal-2);
  border-radius: 0.5rem;
  flex-direction: column;
  padding: 5rem;
  width: 40%;
}

.formContainer input {
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
}

.loginButton {
  margin-top: 4rem;
  width: 20%;
  display: flex;
  justify-content: center;
  background-color: var(--color-principal-2);
  color: var(--color-principal);
}

.loginButton:hover {
  background-color: var(--color-detail-2);
  color: var(--color-default);
  transition: 400ms;
}

.linkToSignup a {
  color: var(--color-principal-2);
}

.linkToSignup a:hover {
  border-bottom: solid;
  border-color: var(--color-detail-2);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-principal-2);
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}

.titleLogo {
  color: var(--color-principal);
}

@media only screen and (max-width: 768px) {
  .formContainer {
    align-items: center;
    width: fit-content;
  }

  .formContainer input {
    width: 100%;
  }

  .loginBody button {
    width: 60%;
  }
}

@media only screen and (max-width: 425px) {
  .background {
    display: none;
  }
}
