:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-principal: #FFF;
  --color-principal-2: #EC0B43FF;
  --color-principal-2-shade: hsl(30, 100%, 50%);
  --color-principal-2-shade-2: hsl(31, 45%, 37%);
  --color-default: #000;
  --color-detail: #f9f3f3;
  --color-detail-2: #FFBC42FF;
  --color-detail-3: #7DCE82FF;
}

a {
  font-weight: 400;
  text-decoration: inherit;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

em {
  font-weight: 700;
  font-style: normal;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--color-detail-2);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: var(--color-default);
  }

  button {
    background-color: #f9f9f9;
  }
}
